* {
    margin: 0;
    padding: 0;
}

body,
html {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(45deg, black, blue);
}

.fundo {
    text-align: center;
    color: white;

}

.calculadora {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, .9);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.calculadora table {
    margin: 0 auto;
}

.btn {
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 3px;
}

.btn:hover {
    background-color: black;
}

.resultado {
    width: 214px;
    height: 30px;
    margin: 5px;
    padding: 5px;
    font-size: 25px;
    color: black;
    background-color: white;
    text-align: right;
    max-width: 100%;
    overflow-x: hidden  ;

}